doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Durango Shoe Scrubbers

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.15.1/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.bg-secondary.text-uppercase.fixed-top
            .container
                a.navbar-brand.js-scroll-trigger(href='#page-top') Durango Shoe Scrubbers
                button.navbar-toggler.navbar-toggler-right.text-uppercase.font-weight-bold.bg-primary.text-white.rounded(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    | Menu 
                    i.fas.fa-bars
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.ml-auto
                        li.nav-item.mx-0.mx-lg-1
                            a.nav-link.py-3.px-0.px-lg-3.rounded.js-scroll-trigger(href='#portfolio') Gallery
                        li.nav-item.mx-0.mx-lg-1
                            a.nav-link.py-3.px-0.px-lg-3.rounded.js-scroll-trigger(href='#about') About
                        li.nav-item.mx-0.mx-lg-1
                            a.nav-link.py-3.px-0.px-lg-3.rounded.js-scroll-trigger(href='#contact') Contact

        // Masthead
        header.masthead.bg-secondary.text-black.text-center
            .container.d-flex.align-items-center.flex-column
                // Masthead Avatar Image
                br
                br
                br
                br
                .col-md-6.col-lg-9.mb-1
                    img.img-fluid.mb-1(src='assets/img/logo.png', alt='')
                // Masthead Heading
                // Masthead Subheading
                //h2.masthead-heading.mb-5 A Durango shoe cleaning service
                h1
                    | Durango Shoe Scrubbers clean your shoes on #[u #[b your]] schedule. We pick-up your dirty sneakers, scrub em' clean, and bring them right back to you.
        br
        // Contact Section
        section#contact.page-section.bg-primary.text-white
            .container
                // Contact Section Heading
                br
                .row
                    .col-lg-4.ml-auto 
                        h2.text-center.text-white
                            | Standard Scrub
                        h3.text-center.text-white
                            | $20
                        img.img-fluid.mx-auto.d-block(src='')
                        p.lead.gray-800 
                            | Standard cleaning of shoes, light dirt from everday use or minor accidents.      
                    .col-lg-4.mr-auto 
                        h2.text-center.text-white
                            | Deep Scrub
                        h3.text-center.text-white
                            | $28   
                        img.img-fluid.mx-auto.d-block(src='')
                        p.lead.gray-300
                            | The deep scrub is to get out stains or clean extra soiled shoes.
                h2.text-center.text-white
                    | Waterproof Spray
                h3.text-center.text-white
                    | $5
                .col-lg-4.mx-auto
                    p.lead.text-center
                        |  Applies a spray that creates a durable, breathable barrier that effectively repels liquids and stains
                br
                .text-center
                    a.btn.btn-outline-secondary.btn-xl(href='mailto:groom.ian03@gmail.com?subject=New Order!') Schedule a Service
                hr
                br
        section#how-it-works.page-section
            .container
                br
                h2.page-section-heading.text-center.text-uppercase.mb-0 How It Works
                br
                .row
                    .col-lg-3.ml-auto
                        h3
                            | Step 1: Schedule a pick-up time and place and make sure to include your contact info
                    .col-lg-3.mx-auto
                        h3
                            | Step 2: We come to you and pick your shoes up
                    .col-lg-3.mr-auto
                        h3
                            | Step 3: We clean them and bring them right back
        // Portfolio Section
        section#portfolio.page-section.portfolio
            .container
                // Portfolio Section Heading
                br
                h2.page-section-heading.text-center.text-uppercase.text-secondary.mb-0 Gallery
                hr
                // Portfolio Grid Items
                h3.text-center
                    | Standard Scrub
                .row.justify-content-center
                    // Portfolio Item 1
                    .col-md-6.col-lg-6.mb-5
                        .portfolio-item.mx-auto()
                            .portfolio-item-caption.d-flex.align-items-center.justify-content-center.h-90.w-85
                                .portfolio-item-caption-content.text-center.text-white
                                    i.fas.fa-plus.fa-3x
                            img.img-fluid(src='assets/img/portfolio/shoe1before.jpg', alt='')
                            h2.text-center.text-uppercase.text-secondary.mb-0 Before

                    // Portfolio Item 2
                    .col-md-6.col-lg-6.mb-5
                        .portfolio-item.mx-auto()
                            .portfolio-item-caption.d-flex.align-items-center.justify-content-center.h-90.w-85
                                .portfolio-item-caption-content.text-center.text-white
                                    i.fas.fa-plus.fa-3x
                            img.img-fluid(src='assets/img/portfolio/shoe1after.jpg', alt='')
                            h2.text-center.text-uppercase.text-secondary.mb-0 After
                hr
                h3.text-center 
                    | Deep Scrub
                .row.justify-content-center
                    // Portfolio Item 1
                    .col-md-6.col-lg-6.mb-5
                        .portfolio-item.mx-auto()
                            .portfolio-item-caption.d-flex.align-items-center.justify-content-center.h-90.w-85
                                .portfolio-item-caption-content.text-center.text-white
                                    i.fas.fa-plus.fa-3x
                            img.img-fluid(src='assets/img/portfolio/shoe2before.jpg', alt='')
                            h2.text-center.text-uppercase.text-secondary.mb-0 Before
                    // Portfolio Item 2
                    .col-md-6.col-lg-6.mb-5
                        .portfolio-item.mx-auto()
                            .portfolio-item-caption.d-flex.align-items-center.justify-content-center.h-90.w-85
                                .portfolio-item-caption-content.text-center.text-white
                                    i.fas.fa-plus.fa-3x
                            img.img-fluid.lg-12(src='assets/img/portfolio/shoe2after.jpg', alt='')
                            h2.text-center.text-uppercase.text-secondary.mb-0 After

        // About Section
        section#about.page-section.bg-primary.text-white.mb-0
            .container
                // About Section Heading
                br
                h2.page-section-heading.text-center.text-uppercase.text-white About
                // Icon Divider
                // About Section Content
                .row
                    .col-lg-4.ml-auto
                        h5.text-white.lead.font-main
                            | Durango Shoe Scrubbers is a new and small shoe cleaning service. We started the business because shoes are a growing part of Durango's fashion culture. With Durango's variety of outdoor activities, shoes quickly got dirty and there was no service to clean them.
                    .col-lg-4.mr-auto
                        img.img-fluid.mx-auto.d-block(src='assets/img/aboutimage.jpg')
                hr
                br
                // About Section Button

        // Footer
        br
        footer.footer.text-center
            .container
                .row
                    // Footer Location
                    .col-lg-4.mb-5.mb-lg-0
                        h4.text-uppercase.mb-4 Location
                        p.lead.mb-0
                            | 426 E 7th Ave
                            br
                            | Durango, CO 81301
                    // Footer Social Icons
                    .col-lg-4.mb-5.mb-lg-0
                        h4.text-uppercase.mb-4 Around the Web
                        a.btn.btn-outline-primary.btn-social.mx-1(href='https://www.instagram.com/durangoshoescrubbers/?hl=en')
                            i.fab.fa-fw.fa-instagram
                        a.btn.btn-outline-primary.btn-social.mx-1(href='mailto:groom.ian03@gmail.com?subject=New Order!')
                            i.fab.fa-fw.fa-envelope.far
                        a.btn.btn-outline-primary.btn-social.mx-1(href='sms:+17202803137')
                            i.fab.fa-fw.fa-phone.fas
                    // Footer About Text
                    .col-lg-4
                        h4.text-uppercase.mb-4 About Us
                        p.lead.mb-0
                            | Date started: 3/2/20
                            br
                            | Phone: 720-280-3137
                            br
                            | Mail: groom.ian03@gmail.com
        // Copyright Section
        div.copyright.py-4.text-center.text-white
            .container
                small Copyright © Your Website 2020
        // Scroll to Top Button (Only visible on small and extra-small screen sizes)
        .scroll-to-top.d-lg-none.position-fixed
            a.js-scroll-trigger.d-block.text-center.text-white.rounded(href='#page-top')
                i.fa.fa-chevron-up

        // Bootstrap core JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js')

        // Third party plugin JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')

        // Contact form JS
        script(src='assets/mail/jqBootstrapValidation.js')
        script(src='assets/mail/contact_me.js')

        // Core theme JS
        script(src='js/scripts.js')
